<div class="<%= wrapper_classes %>" style="<%= span_style %>">
  <% if inline? %>
    <label class="jq-field-inline">
      <%= content %>
      <span class="jq-label"><%= field.label %><% if field.required? %><span class="jq-required">*</span><% end %></span>
    </label>
  <% else %>
    <label class="jq-label" for="<%= input_id %>">
      <%= field.label %><% if field.required? %><span class="jq-required">*</span><% end %>
    </label>
    <%= content %>
  <% end %>

  <% if error_message %>
    <p class="jq-field-error"><%= error_message %></p>
  <% end %>
  <% if field.helper_text %>
    <p class="jq-helper-text"><%= field.helper_text %></p>
  <% end %>
</div>
